body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  background-color: #1E2021;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}


.parent-container {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  text-align: center;

}
.child-container {
  width: 98%;
  border: 1px #6c5b5b solid;
  padding: 10px;
  overflow: auto;
}

.container {
  display: block;
  width: calc((100% - 130px)/3); /* calc because of the padding */
  padding: 0px 20px;
  height: 300px;
  text-align: center;
  background-color: #da7878;
  border: 1px solid black;
  float: left;
}
.container:hover {
  cursor: pointer;
  background-color: rgb(145, 135, 90);
  transition: color 3s ease;
  transition: background 3s ease;
}

.container:nth-of-child(3n+1) {
  clear: both;
}

.toAssignment h2 {
    margin:auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

h2:hover {
  font-size: 1.75em;
  /*background: linear-gradient(to right, rgb(145, 135, 90), rgb(145, 135, 90) 50%, rgb(145, 135, 90) 50%);*/
  animation: rainbow-text-simple-animation 0.5s ease-in forwards;
  background-image: linear-gradient(
            45deg,
            /*#CA4246 16.666%,*/
            rgb(145, 135, 90) 16.666%,
            #E16541 16.666%,
            #E16541 33.333%,
            #F18F43 33.333%,
            #F18F43 50%,
            #8B9862 50%,
            #8B9862 66.666%,
            #476098 66.666%,
            #476098 83.333%,
            #A7489B 83.333%);



      background-size: 100%;
      background-repeat: repeat;
}

* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
}

a { color: inherit; }

.darkMode{
    color: #ffffff;
}


/*animation: rainbow-text-simple-animation 0.5s ease-in forwards;
  background-image: linear-gradient(
          45deg,
          #CA4246 16.666%,
          #E16541 16.666%,
          #E16541 33.333%,
          #F18F43 33.333%,
          #F18F43 50%,
          #8B9862 50%,
          #8B9862 66.666%,
          #476098 66.666%,
          #476098 83.333%,
          #A7489B 83.333%);

    background-size: 100%;
    background-repeat: repeat;

        #A7489B 83.333%);
        #476098 83.333%,
        #476098 66.666%,
        #8B9862 66.666%,
        #8B9862 50%,
        #F18F43 50%,
        #F18F43 33.333%,
        #E16541 33.333%,
        #E16541 16.666%,
rgb(145, 135, 90) 16.666%,

        #A7489B 16.666%);
        #476098 16.666%,
        #476098 33.333%,
        #8B9862 33.333%,
        #8B9862 50%,
        #F18F43 50%,
        #F18F43 66.666%,
        #E16541 66.666%,
        #E16541 83.333%,
rgb(145, 135, 90) 83.333%, */
