@import url(https://fonts.googleapis.com/css?family=Varela&Round);
/*@import url(https://fonts.google.com/selection?category=Display,Handwriting,Monospace&selection.family=Great&Vibes);*/
@import url(https://fonts.googleapis.com/css?family=Tangerine);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

body {
  background-color: lightgray;
  margin: 0;
  padding-left: 20%;
  font-family: serif;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5em;
}

a {
  color: rgb(130, 124, 126);
  text-decoration: none;
}

.logo {
  margin-top: 25px;
  margin-left: 25px;
  margin-bottom: 0px;
}

.logo img {
  display: inline-block;
  height: 15%;
  width: 20%;
}

.logo p {
  display: block;
  margin: 0px;
  position: relative;
  top: -1em;
  font-size: 3em;
  color: rgb(166, 147, 49);
}

main {
  position: relative;
  top: -50px;
  width: 75%;
}

.breadcrumbs {
  position: relative;
  right:0px;
  z-index: 999;
}

.right{
  position: absolute;
  width: 200px;
  height: 200px;
  background: red;
  top:0;
  right:0;
}


.breadcrumbs li {
  position: relative;
  display: inline-block;
  /*background-color: lightgray;*/
  margin: 5px 15px;
  padding: 5px 10px;
  /*border-top: 2px solid rgb(166, 147, 49);*/
  /*border-bottom: 20px solid rgb(166, 147, 49);*/
}

.breadcrumbs .first-crumb {
  border-left: 2px solid rgb(166, 147, 49);
  margin-right: 7px;
}

.breadcrumbs li:not(.first-crumb):not(.last-crumb)::before {
  position: absolute;
  border: 2px solid rgb(166, 147, 49);;
  background-color: lightgray;
	content: "";
	left: -10%;
	top: -2px;
	height: 100%;
	width: 100%;
  -webkit-transform: skewX(-27deg);
	   -moz-transform: skewX(-27deg);
	    -ms-transform: skewX(-27deg);
	        transform: skewX(-27deg);
  z-index: -2;
}

.borderOffActive {
    color: rgb(162, 49, 154);
    font-weight: 900;
}
.borderOffActive::before {
    border-left: none !important;
    border-left: 10px solid rgb(166, 147, 49) !important;
    border-bottom: 5px solid rgb(166, 147, 49) !important;
}

.borderOffActive::after {
    border-bottom: 5px solid rgb(166, 147, 49) !important;
}

.breadcrumbs li:not(.last-crumb)::after {
  position: absolute;
  border: 2px solid rgb(166, 147, 49);
  border-left: none !important;
  background-color: lightgray;
	content: "";
	right: -15%;
	top: -2px;
	height: 100%;
	width: 100%;
  -webkit-transform: skewX(-27deg);
	   -moz-transform: skewX(-27deg);
	    -ms-transform: skewX(-27deg);
	        transform: skewX(-27deg);
  z-index: -2;
}

.breadcrumbs .last-crumb {
  /*background-solid rgb(166, 147, 49);;*/
  color: lightgray;
}

.breadcrumbs .last-crumb::before {
  position: absolute;
  border: 2px solid rgb(166, 147, 49);
  background-color: rgb(166, 147, 49);
	content: "";
	left: -9%;
	top: -2px;
	height: 100%;
	width: 90%;
  -webkit-transform: skewX(-27deg);
	   -moz-transform: skewX(-27deg);
	    -ms-transform: skewX(-27deg);
	        transform: skewX(-27deg);
  z-index: -1;
}

.headerSec {
  margin: 0px 60px;
  outline: 2px solid rgb(166, 147, 49);
  outline-offset: 35px;
  /*color: rgb(130, 124, 126);*/
}

.listContainer{
    /*width 80%;*/
    height: 60px;
    position: relative;
    right:10px;
    z-index: 999;
    overflow: auto;
}

.floatedList{
    position: absolute;
    top:0;
    right:10px;
    z-index: 999;
}

.floatRight{
    float: left;
    margin: 0px 0px 0px 10px;
}

/*.activeImage{
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: -45%;
    z-index: 0;
    top: -100%;
    opacity: 60%;

    -webkit-animation: 25s wobble linear infinite;
     animation: 25s wobble linear infinite;
}*/

.activePage > a{
    color: rgb(162, 49, 154);
    font-weight: 900;
}

li.activePage {
    border-left: 25px solid rgb(166, 147, 49);
}





/*Här finns style för hem*/

*, *::after, *::before {
	 box-sizing: border-box;
}
 html, body {
	 height: 100%;
}
/* body {
*//*	 font-family: 'Open Sans', sans-serif;
	 font-size: 16px;
	 line-height: 1.5em;*//*
}*/
 /*a {
	 color: rgb(166, 147, 49);
	 text-decoration: none;
}*/
 .clearfix::after, .clearfix::before {
	 content: " ";
	 display: table;
}
 .clearfix::after {
	 clear: both;
}
 .bold {
	 color: #4a4e51;
	 font-weight: 400;
}
 .resume-wrapper {
	 position: relative;
	 text-align: center;
	 height: 100%;
}
 .container {
	 min-height: 600px;
}
 .profile {
     background: rgba(101, 56, 56, 0.05);
	 width: 40%;
	 min-height: 75vh;
	 float: left;
	 color: #9099a0;
}

.profile .name-wrapper {
	 float: left;
	 width: 100%;
	 text-align: center;
}
 .profileName{
	 font-size: 2.5em;
	 text-align: center;
	 font-family: 'Tangerine', serif;
	 color: #4a4e51;
	 /*text-transform: uppercase;*/
	 line-height: 1em;
	 /*padding-top: 40px;*/
	 margin: 15px;
}

.profile li {
	 margin-bottom: 10px;
}
 .profile .picture-resume-wrapper {
	 width: 100%;
	 display: block;
	 float: left;
}

 .profile .picture-resume {
	 width: 220px;
	 height: 220px;
	 background-size: cover;
	 border-radius: 50%;
	 margin: auto;
	 /*margin-right: 0px;*/
	 display: table;
	 position: relative;
	 vertical-align: middle;
}
 .profile .picture-resume span {
	 display: table-cell;
	 vertical-align: middle;
	 position: relative;
	 margin: 0 auto;
	 z-index: 10;
	 text-align: center;
}
 .profile .picture-resume img {
	 border-radius: 50%;
	 width: 130px;
}

.profile .contact-info {
	 margin-top: 10%;
	 font-weight: 300;
}

.profile .list-titles {
	 float: left;
	 text-align: left;
	 font-weight: 600;
	 width: 40%;
	 color: #4a4e51;
	 list-style-type: none;
}
 .profile .list-content {
	 float: left;
	 width: 60%;
	 text-align: left;
	 font-weight: 300;
	 list-style-type: none;
}
 .profile .contact-presentation {
	 text-align: left;
	 font-weight: 300;
	 margin-top: 75px;
	 margin-bottom: 100px;
}
.profile svg {
	 width: 100%;
	 position: absolute;
	 top: 0;
	 left: 0;
}
 .profile .st0, .profile .st1 {
	 fill: rgb(166, 147, 49);
}
 .experience {
	 background: #3d3e42;
	 width: 60%;
	 min-height: 75vh;
	 float: left;
	 position: relative;
	 color: #9099a0;
	 font-weight: 300;
	 /*min-height: 100%;*/
	 /*min-height: 100vh;*/
}

.experience h3.experience-title {
	 color: rgb(166, 147, 49);
	 text-align: left;
	 text-transform: uppercase;
	 font-size: 1.2em;
	 margin-bottom: 20px;
	 font-weight: 400;
}
 .experience .company-wrapper {
	 width: 30%;
	 float: left;
	 text-align: left;
	 padding-right: 5%;
	 margin-bottom: 60px;
}

.experience .job-wrapper {
	 width: 70%;
	 float: left;
	 text-align: left;
	 padding-right: 5%;
	 margin-bottom: 60px;
}

.experience .experience-title {
	 color: white;
	 margin-bottom: 15px;
}
 .section-padding {
	 padding: 60px 60px 40px 40px;
}

@media (max-width: 1200px) {
	 .profile .contact-presentation {
		 margin-top: 70px;
		 margin-bottom: 70px;
	}
	 .profile .contact-info {
		 margin-top: 70px;
	}
	 .profile .picture-resume {
		 width: 200px;
		 height: 200px;
	}
	 .profile .picture-resume img {
		 width: 120px;
		 height: 120px;
	}
	 .profile .picture-resume-wrapper {
		 width: 100%;
	}
	 .profile h1 {
		 padding-top: 20px;
	}
}
@media (min-width: 1500px) {
    body {
        padding: 2% 15% 2% 15%;
    }
    main {
      position: relative;
      top: -50px;
      width: 100%;
    }
    .profile, .section-padding {
        min-height: 78vh;
    }

/*    .experience{
        height: 967px;
    }

    .section-padding {
    padding: 60px 60px 0px 40px;
    }*/

}

@media (max-width: 1500px) {

    body {
        padding: 5%
    }
    main {
      position: relative;
      top: -50px;
      width: 100%;
    }

    .profile .picture-resume img {
        width: 75%;
    }
	.profile .picture-resume {
		 width: 150px;
		 height: 150px;
	}

	.profile, .section-padding {
            padding: 30px 30px 20px 20px;
        }
    /*.section-padding {
            padding: 30px 30px 20px 20px;
        }*/
}

@media (max-width: 1200px) {

    body {
        padding: 0%
    }

    .section-padding {
        padding: 20px 20px 20px 20px;
    }

    .profile .picture-resume img {
        width: 75%;
    }

	.profile, .section-padding {
	    min-height: 80vh;
        }

}

@media (min-width: 850px) {
    .profile, .section-padding {
        max-height: 80vh;
        }
    .container {
        /*min-height: 80vh;*/
    }

    .profile ul {
            padding: 0px;
        }
    .profile .contact-info {
        margin-top: 0px;
    }

}

/*Work needed on prof, exp sections width 860px -9...
Body margin-left on with 1500px... */

@media (max-width: 850px) {
	 .section-padding {
		 padding: 80px 15% 40px 10%;
	}
	 .experience {
		 width: 100%;
	}
	 .profile .contact-presentation {
		 margin-top: 50px;
		 margin-bottom: 50px;
	}
	 .profile {
		 width: 100%;
	}
	.contact-info, .contact-social {
      display: flex;
      justify-content: center;
	}
	.contact-info .list-titles {
        text-align: center;
	}
    .profile .list-titles {
        width: 30%;
    }
    .profile .list-content {
        width: 30%;
    }
	.contact-info .list-content {
        padding-left: 20px;
	}
	.contact-social .list-titles {
	    text-align: center;
	}
	.contact-social .list-content {
	    padding-left: 20px;
	}
}

@media (max-width: 450px) {
	 .section-wrapper {
		 width: 100%;
	}
	 .section-padding {
		 padding: 40px 10% 20px 5%;
	}
	 .experience .job-wrapper {
		 width: 100%;
		 margin-bottom: 40px;
	}
	 .experience .company-wrapper {
		 width: 100%;
		 margin-bottom: 20px;
	}
	 .profile .contact-info {
		 margin-top: 50px;
	}
	 .profile .picture-resume {
		 width: 180px;
		 height: 180px;
	}
	 .profile h1 {
		 font-size: 1.8em;
		 padding-top: 20px;
	}
	.contact-info .list-titles{
	    width: 40%;
	}

	.profile .list-content {
	    width: 60%;
	}

	/*For the list item only, which it's being affected by the nav 'a' margin*/
	.profile .list-content li a{
    	    margin: 0%;
    	}


}

@media (max-width:420px)  {
    body {
        margin: 0;
        padding: 0;
   }
    main {
      position: relative;
      top: -50px;
      width: 100%;
    }
    .logo {
        margin: 0px 0px 40px 0px;
    }

    .logo p {
        font-size: 1em;
    }

    .breadcrumbs li {
        margin: 0px;
        padding: 0px;
    }

    .floatedList {
        padding-left: 0px;
        right: 0px;
        left: 0px;
    }
    ul {
        text-align: center;
    }
    .listContainer {
        right: 0px;
    }
    li a {
        margin: 10px;
    }
    .hideMobile{
        display: none;
    }
    .breadcrumbs li:not(.first-crumb):not(.last-crumb)::before {
      display: none;
    }

    .borderOffActive {
        color: rgb(162, 49, 154);
        font-weight: 900;
    }
    .borderOffActive::before {
        border-left: none !important;
        border-left: 10px solid rgb(166, 147, 49) !important;
        border-bottom: 5px solid rgb(166, 147, 49) !important;
    }

    .borderOffActive::after {
        border-bottom: 5px solid rgb(166, 147, 49) !important;
    }

    .breadcrumbs li:not(.last-crumb)::after {
     display: none;
    }

    .headerSec{
        margin: 0px;
        text-align: center;
    }

    h1 {
        font-size: 1.2em;
        text-align: center;
    }

	 .profile .picture-resume img {
        width: 120px;
        height: 120px;

    }














    #demo{
        position: absolute;
        top: 30%;
        right: 10%;
        font-size: 1em;
        color: #000
    }
}





.section-wrapper {
	 width: 50%;
	 float: left;
	 text-align: left;
	 color: #9099a0;
	 font-weight: 300;
	 margin-bottom: 20px;
}


 .section-wrapper:nth-child(3) {
	 padding-right: 8%;
}
 .section-wrapper h3.section-title {
	 color: rgb(166, 147, 49);
	 text-align: left;
	 text-transform: uppercase;
	 font-size: 1.2em;
	 margin-bottom: 20px;
	 font-weight: 400;
}
 .section-wrapper .skill-percentage {
	 margin-bottom: 10px;
	 position: relative;
}
 .section-wrapper .skill-percentage::after {
	 content: "";
	 width: 100%;
	 height: 6px;
	 background: #4a4e51;
	 display: block;
	 margin-top: 3px;
}
 .section-wrapper .skill-percentage::before {
	 content: "";
	 height: 6px;
	 background: rgb(166, 147, 49);
	 position: absolute;
	 margin-top: 3px;
	 bottom: 0;
}
 .section-wrapper .skill-percentage:nth-child(1)::before {
	 width: 80%;
	 animation: skill_1 0.6s ease;
}
 .section-wrapper .skill-percentage:nth-child(2)::before {
	 width: 90%;
	 animation: skill_2 0.6s ease;
}
 .section-wrapper .skill-percentage:nth-child(3)::before {
	 width: 50%;
	 animation: skill_3 0.6s ease;
}
 .section-wrapper .skill-percentage:nth-child(4)::before {
	 width: 60%;
	 animation: skill_4 0.6s ease;
}
 .section-wrapper .skill-percentage:nth-child(5)::before {
	 width: 70%;
	 animation: skill_5 0.6s ease;
}
 .section-wrapper .skill-percentage:nth-child(6)::before {
	 width: 70%;
	 animation: skill_6 0.6s ease;
}
 .section-wrapper .skill-percentage:nth-child(7)::before {
	 width: 70%;
	 animation: skill_6 0.6s ease;
}
 @keyframes skill_1 {
	 from {
		 width: 0%;
	}
	 to {
		 width: 80%;
	}
}
 @keyframes skill_2 {
	 from {
		 width: 0%;
	}
	 to {
		 width: 90%;
	}
}
 @keyframes skill_3 {
	 from {
		 width: 0%;
	}
	 to {
		 width: 50%;
	}
}
 @keyframes skill_4 {
	 from {
		 width: 0%;
	}
	 to {
		 width: 60%;
	}
}
 @keyframes skill_5 {
	 from {
		 width: 0%;
	}
	 to {
		 width: 70%;
	}
}
 @keyframes skill_6 {
	 from {
		 width: 0%;
	}
	 to {
		 width: 70%;
	}
}
 @keyframes skill_7 {
	 from {
		 width: 0%;
	}
	 to {
		 width: 70%;
	}
}

#title{
    margin:0;
    float: left;
}

#tagline {
    float: left;
    margin: 0px 0px 0px 10px;
}

footer{
    text-align: center;
    margin: 60px 60px;
}

footer a {
    display: inline;
    margin-right: 10px;
    width: 50px;
    padding: 1px;
    font-size: 9px;
    font-family: Verdana, Geneva, sans-serif;
    text-decoration: none;
    text-align: center;
    color: #304ac2;
    background-color: #DDD;
    border: 1px solid black;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
}
footer a strong {
    font-weight: bold;
    color: #FFF;
    background-color: rgb(166, 147, 49);
    padding-left: 2px;
    margin-right: 5px;
}
footer a:hover {
    color: #FFF;
    background-color: rgb(166, 147, 49);
}
footer a:hover strong {
    color: rgb(166, 147, 49);
    background-color: #DDD;
}

/*style for project page*/
.flexslider {
    max-width: 70%;
    background: none !important;
    margin: auto !important;
}

.flex-direction-nav a {
    overflow: initial !important;
}
.flex-direction-nav a:before {
    color: rgb(166, 147, 49) !important;
}
.flex-viewport {
    max-height: 600px !important;
}
.flex-caption {
  width: 96%;
  padding: 2%;
  left: 0;
  bottom: 0;
  /*background: rgba(0,0,0,.5);*/
  /*background: rgb(166, 147, 49);*/
  background: #3d3e42;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
  font-size: 14px;
  line-height: 18px;
}

.slides li img {
    float: left;
    width:  100% !important;
    max-height: 80% !important;
    /*object-fit: cover !important;*/
}
.flexslider ul {
    /*width: 50% !important;*/
    /*height: inherit;*/
/*    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: nowrap;
    justify-content: space-between;*/
}
.flexslider .slides>li {
    /*width: 50% !important;*/
    /*height: inherit;*/
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.flex-caption {
    width: 100%;
    height: 20%;
    margin: 0px;
}

.flex-control-paging li a.flex-active {
    background: rgb(166, 147, 49) !important;
}
/*.flex-direction-nav .flex-prev, .flex-direction-nav .flex-next {
        display: none;
}*/

#demo{
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 1.2em;
    color: #000
}



/*Utbildning sida*/

:root {
	--color-gray-light-1: #f8f8f8;
	--color-gray-light-2: #e9e9e9;
	--color-gray-light-3: #dedede;
	--color-gray-dark-1: #545454;
	--color-gray-dark-2: #737373;
	--color-gray-dark-3: #9a9a9a;
	--color-blue-dark-1: #00387f;
	/*--color-tiffany: #00a6a6;*/
	--color-themeText: rgb(166, 147, 49);;
	/*--profile-theme: #4682bf;*/
	--timeline-circle-theme: #14253e;

	--pgbar-length: 100%;

	--MATH-PI: 3.1415px;
	--percent: 100;
}

.detail {
	flex: 1 0 0;
	/*background-color: rgba(145, 157, 20, 0.14);*/
	background-color: #3d3e42;
	color: rgba(176, 172, 173, 1);
	padding: 2rem;
}
.detail:hover > .detail-section:not(:hover) {
	opacity: 0.3;
}
.detail-section {
	transition: all 0.3s;
}
.detail-section:not(:last-of-type) {
	padding-bottom: 1rem;
}
.detail-title {
	display: flex;
	align-items: center;
}
.detail-section > .detail-content {
	padding: 1.5rem;
	padding-left: 2rem;
	user-select: none;
}
.detail-section.edu > .detail-content {
	padding-left: calc(1.5rem + 10px);
}

.detail-section:hover .title-icon {
	transform: scale(1.5);
	margin-right: 1.5rem;
}
.detail-section:hover .title-icon + span {
	letter-spacing: 1.5px;
}

@media (max-width: 1024px) {
	html {
		font-size: 90%;
	}
	.wrapper {
		flex-direction: column;
	}
	.intro, .detail {
		flex: 0 0 100%;
		box-shadow: none;
	}
	.intro-section {
		padding: 0 2rem;
	}
	.profile {
		margin-bottom: 1rem;
	}
	.profile::after {
		display: none;
	}
	.photo img {
		width: 100px;
		height: 100px;
	}
}

.detail:hover > .detail-section:not(:hover) {
	opacity: 0.3;
}
.detail-section {
	transition: all 0.3s;
}
.detail-section:not(:last-of-type) {
	padding-bottom: 1rem;
}
.detail-title {
	display: flex;
	align-items: center;
}
.detail-section > .detail-content {
	padding: 1.5rem;
	padding-left: 2rem;
	user-select: none;
}
.detail-section.edu > .detail-content {
	padding-left: calc(1.5rem + 10px);
}

.detail-section:hover .title-icon {
	transform: scale(1.5);
	margin-right: 1.5rem;
}
.detail-section:hover .title-icon + span {
	letter-spacing: 1.5px;
}

.detail-title {
	display: flex;
	align-items: center;
}

.detail-section > .detail-content {
	padding: 1.5rem;
	padding-left: 2rem;
	user-select: none;
}
.detail-section.edu > .detail-content {
	padding-left: calc(1.5rem + 10px);
}

.title-icon + span {
	font-size: 1.5rem;
	transition: all 0.3s;
}
.title-icon {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	margin-right: 1rem;
	width: 2.5rem;
	height: 2.5rem;
	background-color: var(--profile-theme);
	border-radius: 50%;
	transition: all 0.3s;
}
.title-icon i {
	color: white;
	line-height: 1rem;
	font-size: 1rem;
	text-align: center;
}
.detail-section:hover .title-icon {
	transform: scale(1.5);
	margin-right: 1.5rem;
}
.detail-section:hover .title-icon + span {
	letter-spacing: 1.5px;
}

.timeline-block {
	position: relative;
	padding-left: 30px;
}
.timeline-block:not(:last-of-type) {
	margin-bottom: 1rem;
}
.timeline-block h1 {
	font-size: 1rem;
	margin: 5px 0;
	transition: all 0.3s;
}
.timeline-block p {
	font-size: 0.8rem;
	margin: 5px 0;
}
.timeline-block time {
	font-size: 0.8rem;
	color: var(--color-gray-dark-2);
}
.timeline-block::before {
	position: absolute;
	content: '';
	width: 15px;
	height: 15px;
	background-color: rgb(166, 147, 49);
	border: 3px solid var(--timeline-circle-theme);
	border-radius: 50%;
	left: -10px;
	top: -5px;
}
.timeline-block::after {
	position: absolute;
	content: '';
	width: 3px;
	height: 100%;
	background-color: var(--timeline-circle-theme);
	left: -1px;
	top: 13px;
}
.timeline-block:hover h1 {
	color: var(--color-themeText);
}
.timeline-block:hover::before {
	animation: circle 1.2s infinite;
}

@keyframes circle {
  0% {
    box-shadow: 0 0 0 0px rgba(51, 52, 57, 1);
  }
  100% {
    box-shadow: 0 0 0 6px rgba(51, 52, 57, 0);
  }
}

.glyphicon-cloud{
    width: 5%;
}


@media (max-width: 1024px) {
	html {
		font-size: 90%;
	}
}

@media (max-width: 768px) {
	html {
		font-size: 80%;
	}
	.tool-list {
		flex-wrap: wrap;
	}
	.tool-list > li {
		flex: 0 0 33.33%;
	}
	.favor-list > li {
		flex: 0 0 33.3333%;
	}
}
@media (max-width: 500px) {
	html {
		font-size: 70%;
	}
}


